@import './base.css';

#app {
  text-align: center;
  font-weight: normal;

  display: grid;
  gap: 1rem;
  max-width: 1280px;
  padding: 2rem;
}

@media (min-width: 1024px) {
  body {
    display: grid;
    place-items: center;
  }

  #app {
    gap: 2.5rem;
  }
}
